body {

font-family: Arial;
background:#0f172a;
color:white;
margin:0;
padding:0;

}

header{

background:#020617;
padding:20px;
text-align:center;
border-bottom:2px solid #1e293b;

}

.container{

width:90%;
margin:auto;
margin-top:20px;

}

section{

background:#1e293b;
padding:20px;
margin-bottom:20px;
border-radius:8px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #334155;
text-align:left;

}

th{

background:#020617;

}

.progress{

width:100%;
background:#334155;
height:25px;
border-radius:5px;

}

#progressBar{

width:0%;
height:100%;
background:#22c55e;
transition:width 0.4s;

}

#alertList{

list-style:none;
padding:0;

}

#alertList li{

background:#7f1d1d;
margin-bottom:10px;
padding:10px;
border-radius:4px;

}
